.navbar-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px 30px !important;
    flex-wrap: wrap !important;
    width: 100%;
    color: white;
    background-color: rgba(30, 33, 58, 1);

    .navbar-brand{
        color: white !important;

        &:hover{
            color: white;
        }
        .navbar-text{
            padding-bottom: 30px;
        }
    }

    .navbar-text{
        color: azure;

        &.active{
            color: orange;
        }

        &:hover{
            color: orange;
            cursor: pointer;
        }
    }
}